{% extends 'services/base_servicos.html' %}

{% block content %}
<div class="row">
    <ul class="nav nav-tabs" id="myTab">
        <li><img  src="../static/images/recomenda.jpg" style="width: 50px" style="height: 50px" ></li>
        <li><a href="{% url 'sobre' %}">Sobre</a></li>
        <li><a href="servicos">Serviços</a></li>
        <li><a href="{% url 'amigos' %}">Amigos</a></li>
        <li><a href="cadastro">Contatos</a></li>
        <li class="active"><a href="{% url 'cadastro' %}"> <p>Cadastrar seu serviço</p></a></li>

    </ul>
</div class='row'>
        <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Criar</button>
        </form>
{% endblock content %}
