
{% block content %}

<div class='row' class="col-sm-6 real-content">
    <h1>Lista de Servicos</h1>
    <table>
        <tr>
            <th>Servico</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Idade</th>
            <th>Email</th>
            <th>Telefone</th>
        </tr>
        {% for nome in object_list %}
            <tr>
                <script>
                var serv = '{{nome.servico}}'
                switch (serv) {
                    case "Encanador":
                        break;
                }
                </script>
                <td>{{ nome.servico}}</td>
                <td>{{ nome.nome }}</td>
                <td>{{ nome.cpf }}</td>
                <td>{{ nome.idade }}</td>
                <td>{{ nome.email }}</td>
                <td>{{ nome.telefone }}</td>
            </tr>
        {% empty %}
            <li>Sem itens na lista.</li>
        {% endfor %}
    </table>
</div>
{% endblock content %}
