{% extends 'services/base_servicos.html' %}
{% block content %}
<div class="row">
    <ul class="nav nav-tabs" id="myTab">
        <li><img  src="../static/images/recomenda.jpg" style="width: 50px" style="height: 50px" ></li>
        <li><a href="{% url 'sobre' %}">Sobre</a></li>
        <li class="active"><a href="servicos">Serviços</a></li>
        <li><a href="{% url 'amigos' %}">Amigos</a></li>
        <li><a href="{% url 'contatos' %}">Contatos</a></li>
        <li><a href="cadastro"> <p>Cadastrar seu serviço</p></a></li>

    </ul>
</div>
<div class='row'>
    <div class="col-sm-3 real-content">
        <ul>
            <li><b><a href="encanador">Encanador</a></li>
            <li><a href="pedreiro">Pedreiro</a></li>
            <li><a href="eletricista">Eletricista</a></li>
            <li><a href="manicure">Manicure</a></li>
            <li class="active"><a href="costura">Costura</a></li>
            <li><a href="cabelo">Cabelo</a></li>
            <li><a href="jardinagem">Jardinagem</b></a></li>
        </ul>
    </div>
    <div class="col-sm-6 real-content">
        <p><b>Manicure</b></p>
    </div>
</div>
{% endblock %}
