{% extends 'blog/base.html' %}

{% block content %}
<div class="row">
    <ul class="nav nav-tabs" id="myTab">
        <li><img  src="../static/images/recomenda.jpg" style="width: 50px" style="height: 50px" ></li>
        <li><a href="{% url 'sobre' %}">Sobre</a></li>
        <li><a href="servicos">Serviços</a></li>
        <li class="active"><a href="{% url 'amigos' %}">Amigos</a></li>
        <li><a href="{% url 'contatos' %}">Contatos</a></li>
        <li><a href="cadastro"> <p>Cadastrar seu serviço</p></a></li>

    </ul>
</div class='row'>
<div class="col-sm-3">
</div>
<div class="col-sm-6 real-content">
    {% if not user.is_authenticated %}
        <p><b>Favor logar primeiro</b></p>
    {% else %}
        <p><b>Nenhum amigo cadastrado</b></p>
    {% endif %}
{% endblock %}
