{% load staticfiles %}
<html>
    <head>
        <title>Recomenda</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="container">
            {% if not user.is_authenticated %}
                <div class="row">
                    <a href="{% url 'signup' %}" class="top-menu">Sign up</a><a href="{% url 'login' %}" class="top-menu">Log in</a>
                </div>
            {% else %}
                <div class="row">
                    <a href="{% url 'login' %}" class="top-menu">Log out</a>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-12 col-sm-12 col-lg-12">
                    <a href="/"><img src="../static/images/recomenda_capa.png"></a>
                </div>
            </div>

            <hr>

            {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}

            <div class="row">
                <div class="col-1 col-sm-1 col-lg-1">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="sobre">Sobre&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                        <li class="active"><a href="servicos">Serviços&nbsp;</a></li>
                        <li class="active"><a href="amigos">Amigos&nbsp;&nbsp;&nbsp;</a></li>
                        <li class="active"><a href="contatos">Contatos&nbsp;</a></li>
                    </ul>
                </div>
                <div id="content" class="tab-content">
                    <div class="tab-pane active">
                        <div class="col-md-8">
                          {% block content %}
                          {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>