{% load staticfiles %}
<html>
    <head>
        <title>Recomenda</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Site da CS UnB">
        <meta name="author" content="CS UnB">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="row">
                <div class="col-sm-8">
                    {% if not user.is_authenticated %}
                        <div class="row">
                            <a href="{% url 'signup' %}" class="top-menu">Sign up</a><a href="{% url 'login' %}" class="top-menu">Log in</a>
                        </div>
                    {% else %}
                        <div class="row">
                            <a href="{% url 'logout' %}" class="top-menu">Log out</a>
                        </div>
                    {% endif %}
                    <div class="row">
                        <ul class="nav nav-tabs" id="myTab">
                            <li><img  src="../static/images/recomenda.jpg" style="width: 50px" style="height: 50px" ></li>
                            <li class="active"><a href="sobre">Sobre</a></li>
                            <li><a href="servicos">Serviços</a></li>
                            <li><a href="amigos">Amigos</a></li>
                            <li><a href="contatos">Contatos</a></li>
                            <li><a href="cadastro"> <p>Cadastrar seu serviço</p></a></li>
                        </ul>
                    </div>
                </nav>


                    {% block content %}
                    {% endblock %}
                </div>
            </div>
    </div>
    </body>
</html>
