{% extends 'blog/base.html' %}

{% block content %}
<div class="row">
    <ul class="nav nav-tabs" id="myTab">
        <li><a href="sobre">Sobre</a></li>
        <li><a href="servicos">Serviços</a></li>
        <li><a href="amigos">Amigos</a></li>
        <li class="active"><a href="contatos">Contatos</a></li>
    </ul>
</div>
<div class="col-sm-3"></div>
<div class="col-sm-6 real-content">
    <p><b>Qualquer dúvida e/ou sugestão:</b></p>
    <p><b>Telefone: 1111-1111 / 2222-2222</b></p>
    <p><b>Email: recomenda@gmail.com</b></p>
    <p><b>Facebook: facebook.com/recomenda.servicos</b></p>
</div>

{% endblock %}
