{% extends 'blog/base.html' %}

{% block content %}
<div class="row">
    <ul class="nav nav-tabs" id="myTab">
        <li><a href="sobre">Sobre</a></li>
        <li class="active"><a href="servicos">Serviços</a></li>
        <li><a href="amigos">Amigos</a></li>
        <li><a href="contatos">Contatos</a></li>
    </ul>
</div>
<div class="col-sm-3"></div>
<div class="col-sm-6 real-content">
    {% if not user.is_authenticated %}
        <p><b>Favor logar primeiro</b></p>
    {% else %}
    <ul>
        <li><b><a href="encanador">Encanador</a></li>
        <li><a href="pedreiro">Pedreiro</li>
        <li><a href="eletricista">Eletricista</li>
        <li><a href="manicure">Manicure</li>
        <li><a href="costura">Costura</li>
        <li><a href="cabelo">Cabelo</li>
        <li><a href="jardinagem">Jardinagem</b></li>
    </ul>
    {% endif %}
</div>

{% endblock %}
