{% extends 'blog/base.html' %}

{% block content %}
<div class="post">
  <div class="col-sm-4"></div>
  <div class="col-sm-8">
    <p><b>em um pintor para me indicar?</b></p>
    <p><b>Conhece um mecânico de confiança?</b></p>
    <p><b>Alguém tem o número de um pedreiro?</b></p>
    <p><b>O Recomenda é uma plataforma para encontrar o serviço que você procura e indicar o que você confia.
    Temos como objetivo valorizar o serviço bem prestado por meio de indicações dos próprios consumidores.
    Para aumentar sua confiabilidade nas indicações, convide seus amigos para curtir a página e indicar serviços.</p>
    <h3>Quem indica amigo é!</h3>
  </div>
</div>
{% endblock %}
