{% extends 'blog/base.html' %}

{% block content %}
<div class="row">
    <ul class="nav nav-tabs" id="myTab">
        <li><img  src="../static/images/recomenda.jpg" style="width: 50px" style="height: 50px" ></li>
        <li class="active"><a href="{% url 'sobre' %}">Sobre</a></li>
        <li><a href="servicos">Serviços</a></li>
        <li><a href="{% url 'amigos' %}">Amigos</a></li>
        <li><a href="{% url 'contatos' %}">Contatos</a></li>
        <li><a href="cadastro"> <p>Cadastrar seu serviço</p></a></li>

    </ul>
</div class='row'>
<div style="width: 100%" style="height: auto">
<a href="/"><img  src="../static/images/recomenda_capa.png" style="width: 100%" style="height: auto"></a>
</div>
<div class="post">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6 real-content">
        <h2>Recoquê?</h2>
        <p><b>Tem um pintor para me indicar?</br>
            Conhece um mecânico de confiança?</br>
            Alguém tem o número de um pedreiro?</br></br>

            O Recomenda é uma plataforma para encontrar o serviço que você procura e indicar o que você confia.
            Temos como objetivo valorizar o serviço bem prestado por meio de indicações dos próprios consumidores.
            Para aumentar sua confiabilidade nas indicações, convide seus amigos para curtir a página e indicar serviços.
        </br></br>
            Quem indica amigo é!</b></p>
    </div>
</div>

{% endblock %}
